.checkout-basket-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    position: absolute;
    top: -5px;
    right: 0;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: #83D01B;
    border-radius: 50%;
}