.checkout-basket-amount {
    font-size: .8rem;
    position: absolute;
    top: -5px;
    right: 0;
    width: 20px;
    height: 20px;
    color: var(--white);
    background-color: var(--tertiary);
    border-radius: 50%;
}