.catalog-product {
    flex: 1 0 33.333%;
    margin: 5px;
}

.catalog-product__thumbnail img{
    max-width: 370px;
    width: 100%; 
}

.catalog-product__basket-call-to-action {
    display: flex;
    justify-content: center;
}

.catalog-product__basket-call-to-action button {
    background-color: #83D01B;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    height: 3rem;
    margin-top: 1rem;
    transition: all 0.35s;
    width: 80%;
}

.catalog-product__name {
    font-size: 1rem;
    font-weight: 300;
    margin-top: .5rem;
    text-align: center;
    text-transform: uppercase; 
}
  
.catalog-product__price {
    font-size: 28px;
    font-weight: 900;
    text-align: center; 
}